<%- include("partials/header") %>

<h1>delete page</h1>

<form action="/delete/<%=filename%>" >
    <li><%=filename%></li>
    <button type="submit">Delete</button>
</form>

<%- include("partials/footer") %>