<%- include("partials/header") %>

    <h1>This is user Details Page</h1>
   
<%- include("partials/footer") %>


    <!-- <%- %> => "-" used for including folder & file which we want to reuse that file -->